* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    margin: 10px;
    font-family: sans-serif;
}

.alert-info {
    padding: 1rem;
    background-color: rgb(212, 252, 252);
    border: 2px solid #ddd;
    text-align: center;

}

.alert-info > a {
    text-decoration: none;
    color: #000;
}
h1 {
    margin: 1rem 0 1.5rem;
    text-align: center;
    font-size: 3rem;
}
.nav-links {
    text-align: center;
}
.nav-links > li {
    padding: 1rem;
    background-color: darkgray;
    margin: 1rem 0;
}
.header-img img {
    max-width: 100%;
}
.main {
    margin: 1rem 0 3rem;
}
h2 {
    margin-bottom: 1rem;
}
footer {
    margin-top: 5rem;
}
footer > p {
    margin-bottom: 1rem;
}
#social-media-links i {
    padding: 0.5rem;
}
@media screen and (min-width: 700px) {
    .alert-info {
        display: none;
    }
    body {
        display: flex;
        flex-wrap: wrap;
    }
    .nav-links {
        display: flex;
        list-style-type: none;
    }
    .nav-links li {
        background-color: transparent;
    }
    h1 {
        margin-right: auto;
    }
    .header-img img {
        width: 100vw;
    }

   .main {
       margin: 2.5em 0;
       width: 60%;
       align-self: baseline;
       flex-shrink: 2;
   }
   .sub-section {
        margin-left: 2rem;
        width:35%;
        align-self: baseline;
        flex-shrink: 1;
   }
   footer {
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-top: 10rem;
   }
   #social-media-links i {
       padding: 0.5rem;
   }
}